<div class="banner">
	<div class="container">
		<div class="page-header">
			<img class="logo" src="../assets/css/air-transport.svg">
			<h1>trippr</h1>
		</div>
	</div>
	<!-- Search section -->
	<div class="container">
		<form class="form-inline">
			<div col="row">
				<div class="col-md-9 col-md-push-2">
					<airport-search valid="searchCtrl.isValid"></airport-search>
					<calendar></calendar>
					<button ng-disabled="!searchCtrl.isValid" type="button" class="btn btn-default" ng-disabled="airportSearch.airportSelected" ng-click="searchCtrl.submitData();">Go!</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Results section -->
<div class="container">
	<div class="row">
		<results flights="searchCtrl.flightInfoObj"></results>
	</div>
</div>

  