 <div class="container">
 <h2>My Favorites</h2>
	<table class="table">
		<thead>
			<th><a ng-click="favoritesCtrl.sortBy('DestinationLocation')">Destination</a></th>
			<th><a ng-click="favoritesCtrl.sortBy('LowestFare')">Price</a></th>
			<th><a ng-click="favoritesCtrl.sortBy('DepartureDateTime')">Departure Date/Time</a></th>
			<th><a ng-click="favoritesCtrl.sortBy('ReturnDateTime')">Return Date/Time</a></th>
		</thead>
		<tbody ng-repeat="flight in favoritesCtrl.userFavorites">
			<td>{{flight.DestinationLocation}}</td>
			<td>{{flight.LowestFare | currency}}</td>
			<td>{{flight.DepartureDateTime | date: 'medium'}}</td>
			<td>{{flight.ReturnDateTime | date: 'medium'}}</td>
		</tbody>
	</table>
 </div>
