.logo {
	width: 100px;
	display: inline-block;
	position: relative;
	top: -20px;
}

.page-header h1 {
	display: inline-block;
	font-size: 100px;
	margin: 0 40px;
	color: white;
}

.banner {
	background-image: url('bg.jpg');
	background-size: cover;
}

form {
	padding-bottom: 50px;
}

div.inline {
	display: inline-block;
}

.glyphicon-calendar {
	top: 0px;
}

.input-group, airport-search input {
	margin-top: 10px;
	margin-bottom: 10px;
}

results a {
	cursor: pointer;
}

.navbar {
	margin-bottom: 0px;
}
